[submodule "packages/ava"]
	path = packages/ava
	url = https://github.com/panoply/ava
[submodule "packages/esthetic"]
	path = packages/esthetic
	url = https://github.com/panoply/esthetic
[submodule "packages/schema"]
	path = packages/schema
	url = https://github.com/panoply/liquify-schema
