/* PRESETS ---------------------------------- */

@import '@brixtol/bootstrap/sass/variables';

/* STRAP -------------------------------------- */

@import 'variables';

@import '@brixtol/bootstrap/sass/imports';

/* CUSTOM ------------------------------------- */

@import '@brixtol/bootstrap/sass/headings';
// @import "@brixtol/bootstrap/sass/code";
@import '@brixtol/bootstrap/sass/spacing';
@import '@brixtol/bootstrap/sass/display';
@import '@brixtol/bootstrap/sass/helpers';
@import '@brixtol/bootstrap/sass/flex';
@import '@brixtol/bootstrap/sass/backgrounds';
@import '@brixtol/bootstrap/sass/text';
@import '@brixtol/bootstrap/sass/font';
@import '@brixtol/bootstrap/sass/sizing';
@import '@brixtol/bootstrap/sass/lists';
@import '@brixtol/bootstrap/sass/links';
@import '@brixtol/bootstrap/sass/borders';
@import '@brixtol/bootstrap/sass/radius';
@import '@brixtol/bootstrap/sass/spinner';
@import '@brixtol/bootstrap/sass/buttons';
@import '@brixtol/bootstrap/sass/ratio';
// @import "@brixtol/bootstrap/sass/tooltip";

/* COMPONENTS -------------------------------- */

@import '@brixtol/bootstrap/sass/components/dropdown';
@import '@brixtol/bootstrap/sass/components/accordion';

/* FORMS -------------------------------------- */

@import '@brixtol/bootstrap/sass/forms/labels';
@import '@brixtol/bootstrap/sass/forms/text';
@import '@brixtol/bootstrap/sass/forms/input';
@import '@brixtol/bootstrap/sass/forms/dropdown';
@import '@brixtol/bootstrap/sass/forms/check';
// @import "@brixtol/bootstrap/sass/forms/color";
@import '@brixtol/bootstrap/sass/forms/switch';
// @import "@brixtol/bootstrap/sass/forms/select";
// @import "@brixtol/bootstrap/sass/forms/range";
@import '@brixtol/bootstrap/sass/forms/float';
@import '@brixtol/bootstrap/sass/forms/group';
@import '@brixtol/bootstrap/sass/forms/feedback';
@import '@brixtol/bootstrap/sass/forms/number';
@import '@brixtol/bootstrap/sass/forms/validation';

/* -------------------------------------------- */
/* COMPONENTS                                   */
/* -------------------------------------------- */

@import 'styles/overwrites';
@import 'styles/navbar';
@import 'styles/code';
@import 'styles/sidebar';
// @import 'styles/landing';
//@import 'styles/accordion';
// @import 'styles/tabs';
