<main>
  <div class="row jc-center p-2 py-lg-3" style="height: 250px;">
    <div class="col-sm as-center py-4 text-center">
      <p class="pt-4 mt-4">
      <span class="logo">
      {{ '/src/icons/avatar.svg' | svgContents: "logo" }}
      </span>
      </p>
      <h2 class="pt-3 pb-2">LIQUID IDE SUPPORT</h2>
      <p>
        Liquify is an IDE text editor extension created for the Liquid template language.<br>
        IntelliSense, diagnostics, linting, validations, formatting and more.
      </p>
     <h6 class="pt-2 pb-2">AVAILABLE June 2021</h6>
    </div>
  </div>
</main>
