<header class="row jc-between d-none">
  <div class="col-sm">
  <div
      class="col-auto as-center"
      data-turbolinks-permanent
      id="drawer-right-toggle">
      <button
        aria-label="Mobile Menu"
        class="navbar__hamburger h5"
        data-drawer="open"
        type="button">
        <h6>Docs</h6>
      </button>
    </div>
  </div>

  <div class="col-auto text-right">
   <h6>License</h6>
  </div>
  <div class="col-auto text-right">
   <h6>PLAYGROUND</h6>
  </div>
</header>
