{% if condition  %}

{% endif %}
<div>
  {% for foo in bar                %}
{% for item in collection %}
  {% if condition %}

  {% tablerow item in collection cols: 2 %}

  {% endtablerow %}

  {% endif %} 
{% endfor %}
  {% endfor     %}

</div>
