*,
body,
html {
  scroll-behavior: auto !important;
}

h1,
h2 {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #222;
}

h2 {
  margin-top: 50px;
}

h5 {
  font-weight: 600;

  a {
    color: $sea;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  position: absolute;
  top: 30px;
  left: 30px;


  .icon {
    width: 40px;
    height: 40px;
    color: #fff;
  }
}

.sticky {
  position: sticky;
}


header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  z-index: 100;
  display: block;
  width: 100%;
  height: 55px;
  font-size: 1rem;
  background-color: $white;// #121418;
  box-shadow: 0 0 10px -5px $black;

  a {
    color: $gray-800;

    &.active {
      color: $sea;
      font-weight: 600;
    }

    &:hover {
      color: $blue;
    }
  }

  //background-color: rgb(15 15 15 / 56.2%);

  // backdrop-filter: blur(15px);
}


strong {

}

.hero {
  background: $gray-800; /* fallback for old browsers */

  &-github {
    a {
      position: absolute;
      z-index: 999;
      top: 15px;
      right: 25px;


      > .icon {
        width: 25px;
        height: 25px;
        fill: $white;

        &:hover {
          fill: $blue;
        }
      }
    }
  }


  &-logo {
    a {
      color: #76d9e6;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    > .icon {
      width: 300px;
      height: 300px;
      fill: $blue;


      &:hover {
        fill: $white;
      }
    }
  }

  &__caption {
    position: absolute;
    bottom: 50px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.version {
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding-right: 3px;
  font-size: 10px;
  text-align: center;
}

.find {
  input {
    width: 100%;
    height: 45px;
    color: $white;
    font-weight: 900;
    font-size: 16px;
    line-height: 45px;
    background-color: #ffffff31;
    border: none;
    border-radius: 3px;

    &::placeholder {
      padding-left: 5px;
      color: #ffffffad;
      font-weight: 400;
      font-size: 11px;
    }

    &:focus {
      outline: #fff;
    }
  }

  &-spinner {
    width: 2rem;
    height: 2rem;
    color: rgba($color: $white, $alpha: 30%);
    border-width: 0.24em;
  }
}

