/* stylelint-disable scss/operator-no-newline-after */


@mixin color($color: "#000000", $size: "24", $stroke: "2" $fill: "none") {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{$size}' height='#{$size}' fill='%23#{str-slice($color, 1)}' stroke='currentColor' stroke-width='#{$stoke}' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.class {
  @include color("#000");
}


.icons {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
