.sidebar {
  // background-color: #fff;
  // position: fixed;
  margin-top: 52px;
  width: 300px;

  //left: 0;

  // border-color: $cyan;

  .relapse-btn {
    .icon {
      width: 20px;
      height: 20px;
      color: $black;
    }

    .icon-open {
      display: none;
    }

    .icon-close {
      display: flex;
    }

    &.open {
      .relapse-btn {
        color: $black;
      }
    }

    &.opened {
      .icon-open {
        display: flex;
        color: $black;
      }

      .icon-close {
        display: none;
      }
    }

    &:hover {
      color: $black;

      .icon {
        color: $black;
      }
    }
  }

  ul > li {
    list-style-type: none;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
}
