<main class="container-fluid">
  <div class="row vh-100 d-flex ai-center jc-center px-5 bg-ebony">
    <div class="col-auto">
      <div class="hero d-grid ai-center">

        <div class="hero-github">
          <a href="https://github.com/panoply/liquify">
            {% svg "github", 'icon' %}
          </a>
        </div>

        <div class="d-flex flex-column as-center jc-center">
          <a data-spx-target="['body']" href="/" class="hero-logo d-block">
            {% svg "avatar", 'icon' %}
          </a>
        </div>

        <h3 class="undecorate mt-3 mb-0 m-auto d-none">LIQUID IDE SUPPORT</h3>
        <div class="d-flex flex-column m-auto fc-white fw-lighter mt-3 d-none">
          <p class="d-block fc-blue fs-5 tc fw-normal light uncase">
            Liquify is an IDE text editor extension created for the Liquid template language.<br>
            IntelliSense, diagnostics, linting, validations, formatting and more.
          </p>
        </div>

        <div class="d-flex flex-column m-auto cli mt-2 d-none">
          <h6 class="pt-2 pb-2">AVAILABLE 2022</h6>
        </div>

      </div>
    </div>
  </div>
</main>
