<header class="container-fluid d-flex ac-center px-5">
  <nav class="row jc-start ai-center">
    <div class="col-auto pr-4">
      <a href="{{- 'docs' | slugify -}}" class="upper ff-heading undecorate">
        Docs
      </a>
    </div>
    <div class="col-auto text-right pr-4">
      <a href="{{- 'playground' | slugify -}}" class="upper ff-heading undecorate active">
        Playground
      </a>
    </div>
    <div class="col-auto text-right">
      <a href="{{- 'license' | slugify -}}" class="upper ff-heading undecorate">
        License
      </a>
    </div>
  </nav>
</header>
