---

---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://use.typekit.net/zeg4olx.css">
  <link href="{{- '/assets/stylesheet.css' | relative_url -}}" rel="stylesheet">
  <script src="{{- '/assets/bundle.js' | relative_url -}}" defer></script>
  <title>Liquify IDE</title>
</head>

<body class="bg-black">



  {% include components/drawer.html %}

  <div class="container-fluid drawer-push">
    {% include components/navbar.html %}
    {% include components/blocks.html %}
    {{ content }}
  </div>


</body>

</html>
